$pink: #554a4e;
$gray-600: #a9a9a9;
$black: #000000;
$main-color: #FF5A5F;

$shadow:rgba(255, 90, 95, 0.68);
$body-color: $black;
$primary: $pink !default;
$grid-gutter-width: 15px !default;
$primary: $main-color;
// $success: #54E29D;
$input-focus-border-color: $gray-600;
$input-focus-box-shadow: $gray-600;

$font-family-sans-serif: 'Montserrat',
'sans-serif' !default;


$list-group-active-color:#000 !default;
$list-group-active-bg:#e9ecef !default;
