// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
// @import "~bootstrap-select/sass/bootstrap-select";

@import "~@fortawesome/fontawesome-free/css/all";
@import "slick";
@import "../js/assets/bootstrap-datepicker.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

html,
body {
    height: 100%;
}

#app {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: none;
    background-color: $black;

    a.nav-link {
        color: $white;
    }
}

.our-mission {
    background-color: $shadow;
    color: white;
    padding: 3em;
    display: flex;
    align-items: center;
}

.bg-shadow {
    background-color: $shadow;
}

.card {
    .card__shadow {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: $shadow;
        color: $white;
    }

    .card__badge {
        position: absolute;
        top: 30px;
        right: 16px;
        background: #46B3E5;
    }
}

label.is-required:after {
    content: " *";
    color: "#ccc";
}

.img--sm {
    width: 71px;
    height: 71px;
}

.fa-star--checked {
    color: #ffa500;
}

.fa-star--unchecked {
    color: #d0d0d0;
}

.img--tag {
    width: 120px;
    height: 120px;
}

.img--xs {
    width: 27px;
    height: 27px;
}

.parcel {
    border: 1px solid #ccc;

    .parcel__img {
        width: 220px;
        height: 100%;
    }

    .parcel__details {
        position: relative;

        li {
            display: table-row;

            .value {
                padding: 0.3rem 2.5rem;
                display: table-cell;
            }
        }
    }

    .parcel__action {
        display: flex;
    }

    .parcel__details img {
        width: 25px;
        height: 25px;
        margin-right: -8px;
    }
}

.img--group {
    width: 25px;
    height: 25px;
}

.parcel__avatars {
    position: absolute;
    right: 11px;
    bottom: 0;
}

.group--right {
    margin-right: -8px;
}

.group--left {
    margin-left: -8px;
}

.about {
    h3 {
        margin: 0;
        font-size: 1em;
        font-weight: normal;
    }
}

.parcel__section {
    margin-bottom: 2em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

.label-file {
    cursor: pointer;
    text-align: center;
    color: $black;
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
}

.label-file input {
    width: 0px;
    height: 0px;
}

.keep-in-touch {
    background: #54E29D;
    color: #fff;
}

.flex-center {
    display: flex;
    align-items: center;
}

.know-more {
    position: relative;
}

.know-more:after {
    // content: "";
    // background-image: url(/images/know-more-about.png);
    // width: 84%;
    // background-position: right;
    // height: 100%;
    // z-index: -1;
    // position: absolute;
    // background-repeat: no-repeat;
    // opacity: 0.4;
    // top: 0;
    // right: 0;

}

.search {
    bottom: 0;
    width: 100%;
    // padding: 44px;
    // background: url(/images/why-us.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-register {
    // background: url(/images/login.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: 100% 104%;
    position: relative;
    display: flex;

    input {
        opacity: 0.8;
    }

    .login {
        width: 50%;
        border-right: 1px solid $main-color;

        label {
            // color: #fff;
        }
    }

    .register {
        width: 50%;

        label {
            // color: #fff;
        }
    }
}

.intro__text {
    width: 199px;
}

.search__form .dropdown {
    background: transparent;
}

.search__form .dropdown-toggle {
    background: transparent;
    border: none;
}

.search__form .form-control {
    border: 1px solid $main-color;
    background: transparent;
    color: #383535
}

.search__form input::placeholder {
    color: #383535;
}

.hurryup {
    background: #fff;
    border-top: 4px solid $main-color;
    border-bottom: 4px solid $main-color;

    .hurryup__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


.nav__icon {
    width: 25px;
}

.btn.heart {
    background: url(/images/heart-icon.png);
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
}

.wishlist--in {
    background: url(/images/wishlist-in.png);
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
}

.wishlist--out {
    background: url(/images/wishlist-out.png);
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
}

.cart--in {
    background: url(/images/cart-in.png);
    width: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
}

@include media-breakpoint-up(md) {
    .card-img-top {
        height: 50vw;
        object-fit: cover;
    }
}

@include media-breakpoint-up(lg) {
    .card-img-top {
        height: 23vw;
        object-fit: cover;
    }
}

a.page-link {
    color: $black;
}

li.page-item {
    margin: 0 0.2rem;
}

.parcel__image--fit {
    height: 30vw;
    object-fit: cover;
}


.img--s1 {
    height: 22vw;
    object-fit: none;
    width: 100%;
}

.tr {
    display: table-row;
}

.ts {
    display: table-cell;
}

.remove-media {
    position: relative;
}

.remove-media img {
    height: 160px;
    width: 100%;
}

.remove-media .btn-delete {
    position: absolute;
    right: 0;
    top: 0;
}

.rates__lg {
    font-size: 1.5em;
}

.search__form .form-control::-webkit-input-placeholder {
    color: #a9a9a9;
    opacity: 1;
}

.search__form .form-control::-moz-placeholder {
    color: #a9a9a9;
    opacity: 1;
}

.search__form .form-control:-ms-input-placeholder {
    color: #a9a9a9;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #a9a9a9;
    opacity: 1;
}

.form-control::placeholder {
    color: #a9a9a9;
    opacity: 1;
}

.filter__header {
    position: relative;
}

.filter__header .btn {
    position: absolute;
    right: -10px;
    top: -10px;

}

.no-image {
    background-image: url(/images/placeholder.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}

img.parcel__image {
    width: 280px;
    height: 100%;
}

.btn__search {
    margin-top: 32px;
}

.card {
    height: 220px;
}

.parcel .parcel__actions {}

.btn__prime {
    background: #272d37;
    color: #dbeaeb;

    &:hover {
        color: #dbeaeb;
    }

    .text__underline {
        text-decoration: underline;
        text-underline-position: under;
    }

    .logo__text {
        color: #47a7dc;
    }

    .logo__fa {
        color: #cd8a3d;
        margin-right: -4px;
    }
}

.h__x {
    height: 250px;
}

.progress-bar__sm {
    height: 0.2rem;
}

.text-black {
    color: $black !important;
}

.is-download {
    border-bottom: 2px solid #b3ffb3;
}

@media (max-width: 992px) {
    .slick__container {
        height: 300px !important;
    }
}

.login,
.register {
    border: 1px solid $main-color;
}


.post {
    .post__title {
        color: #000;
    }

    .post__link {
        color: #000;
        text-decoration: underline;
    }

    .post__date {
        text-decoration: underline;
    }
}

.posts.posts__sm {
    font-size: 0.8em;
}

.icon__step {
    height: 48px;
    width: 48px;
}

.img--bw {
    filter: grayscale(60%);
}

.line {
    width: 64px !important;
    border: 1px solid #767676 !important;
    margin: 0 auto !important;
}

.img__200 {
    height: 200px;
}

.faq[aria-expanded="true"] .fa:before {
    content: '\F068'
}

.faq[aria-expanded="false"] .fa:before {
    content: '\F067'
}

.text__underline {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

.nav-link:not(.btn):hover,
.nav-link.active {
    color: red !important;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.fw-500 {
    font-weight: 500;
}
