<template>
  <component v-bind:is="component" @next="component = $event"></component>
</template>


<script>
import EnterEmail from "./EnterEmail";
import EnterCode from "./EnterCode";
export default {
  data() {
    return {
      component: "EnterEmail"
    };
  },
  components: {
    EnterEmail,
    EnterCode
  }
};
</script>