<template>
  <ValidationObserver ref="observer" v-slot="{ validate, dirty }">
    <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
      <p>
        <label for>Email</label>
        <input
          type="text"
          v-model="email"
          class="form-control"
          :class="{'is-invalid': errors.length}"
        />
        <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
      </p>
    </ValidationProvider>
    <p class="mt-2">
      <button
        class="btn btn-primary btn-block"
        @click.prevent="validate().then(onSubmit)"
        :disabled="loading"
      >
        <div class="spinner-border spinner-border-sm" role="status" v-if="loading">
          <span class="sr-only">Loading...</span>
        </div>
        <span v-if="!loading">Sign Up</span>
      </button>
    </p>
  </ValidationObserver>
</template>


<script>
import axios from "axios";
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { required, email } from "vee-validate/dist/rules";
import en from "vee-validate/dist/locale/en.json";

extend("required", {
  ...required,
  message: en.messages.required
});

extend("email", {
  ...email,
  message: en.messages.email
});

export default {
  data() {
    return {
      email: this.$store.state.email,
      loading: false
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  methods: {
    onSubmit() {
      this.loading = true;
      axios
        .post("/register/email", {
          email: this.email
        })
        .then(response => {
          this.$toasted.info(response.data.message, {
            theme: "toasted-primary",
            className: "bg-info",
            position: "bottom-right",
            duration: 5000
          });
          this.$emit("next", "EnterCode");
          this.$store.commit("setEmail", this.email);
        })
        .catch(error => {
          this.$refs.observer.setErrors(error.response.data.errors);
          this.loading = false;
        });
    }
  }
};
</script>