<template>
  <ValidationObserver ref="observer" v-slot="{ validate, dirty }">
    <ValidationProvider name="code" rules="required|numeric" v-slot="{ errors }">
      <p>
        <label for>Code</label>
        <input
          type="text"
          v-model="code"
          class="form-control"
          :class="{'is-invalid': errors.length}"
        />
        <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
      </p>
    </ValidationProvider>
    <p class="mt-2">
      <button class="btn btn-primary btn-block" @click.prevent="validate().then(onSubmit)">Confirme</button>
      <button
        type="button"
        :disabled="loading"
        class="btn btn-light btn-block"
        @click.prevent="onResend()"
      >
        <div class="spinner-border spinner-border-sm" role="status" v-if="loading">
          <span class="sr-only">Loading...</span>
        </div>
        <span v-if="!loading">Resend</span>
      </button>
    </p>
  </ValidationObserver>
</template>


<script>
import axios from "axios";
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { required, numeric } from "vee-validate/dist/rules";
import en from "vee-validate/dist/locale/en.json";

extend("required", {
  ...required,
  message: en.messages.required
});

extend("numeric", {
  ...numeric,
  message: en.messages.numeric
});

export default {
  data() {
    return {
      code: null,
      email: this.$store.state.email,
      loading: false
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  methods: {
    onSubmit() {
      axios
        .post(`/login/email/${this.code}`)
        .then(response => {
          history.pushState({}, null, "/?ads=welcome");
          location.reload();
        })
        .catch(error => {
          this.$refs.observer.setErrors(error.response.data.errors);
        });
    },
    onResend() {
      this.loading = true;
      axios
        .post("/register/email/send", {
          email: this.email
        })
        .then(response => {
          this.$toasted.info(response.data.message, {
            theme: "toasted-primary",
            className: "bg-info",
            position: "bottom-right",
            duration: 5000
          });
          this.loading = false;
        })
        .catch(error => {
          this.$refs.observer.setErrors(error.response.data.errors);
          this.loading = false;
        });
    }
  }
};
</script>