<template>
  <ValidationObserver ref="observer" v-slot="{ validate, dirty }">
    <ValidationProvider name="name" rules="required" v-slot="{ errors }">
      <p>
        <label for>Name</label>
        <input
          type="text"
          v-model="name"
          class="form-control"
          :class="{'is-invalid': errors.length}"
        />
        <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
      </p>
    </ValidationProvider>

    <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
      <p>
        <label for>Email</label>
        <input
          type="text"
          v-model="email"
          class="form-control"
          :class="{'is-invalid': errors.length}"
        />
        <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
      </p>
    </ValidationProvider>

    <ValidationProvider name="password" rules="required" v-slot="{ errors }">
      <p>
        <label for>Password</label>
        <input
          type="password"
          v-model="password"
          class="form-control"
          :class="{'is-invalid': errors.length}"
        />
        <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
      </p>
    </ValidationProvider>
    <p class="mt-2">
      <button class="btn btn-primary btn-block" @click.prevent="validate().then(onSubmit)">Sign up</button>
    </p>
  </ValidationObserver>
</template>


<script>
import axios from "axios";
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { required, email } from "vee-validate/dist/rules";
import en from "vee-validate/dist/locale/en.json";

extend("required", {
  ...required,
  message: en.messages.required
});

extend("email", {
  ...email,
  message: en.messages.email
});

export default {
  data() {
    return {
      email: null,
      password: null,
      name: null
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver
  },
  methods: {
    onSubmit() {
      axios
        .post("/register", {
          email: this.email,
          password: this.password,
          name: this.name
        })
        .then(() => {
          location.reload();
        })
        .catch(error => {
          this.$refs.observer.setErrors(error.response.data.errors);
        });
    }
  }
};
</script>