<template>
  <p class>
    <a href="/login/facebook" class="btn btn-block btn__fa">
      <i class="fab fa-facebook-f"></i> Continue with Facebook
    </a>
    <a href="/login/linkedin" class="btn btn-block btn__linkedin">
      <i class="fab fa-linkedin"></i> Continue with Linkedin
    </a>
    <a href="/login/google" class="btn btn-block btn__google">
      <i class="fab fa-google"></i> Continue with Google
    </a>
  </p>
</template>

<script>
export default {};
</script>

<style scoped>
.btn__linkedin {
  background-color: #2777aa;
  color: #fff;
}
.btn__fa {
  background: rgb(69, 104, 178);
  color: #fff !important;
}

.btn__google {
  background-color: #dc4b38;
  color: #fff;
}
</style>>

</style>