<template>
  <div class="modal fade" id="adsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content p-4">
        <div class="border-bottom-0 modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <svg
              viewBox="0 0 24 24"
              role="img"
              aria-label="Close"
              focusable="false"
              style="height: 16px; width: 16px;"
            >
              <path
                d="m23.25 24c-.19 0-.38-.07-.53-.22l-10.72-10.72-10.72 10.72c-.29.29-.77.29-1.06 0s-.29-.77 0-1.06l10.72-10.72-10.72-10.72c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l10.72 10.72 10.72-10.72c.29-.29.77-.29 1.06 0s .29.77 0 1.06l-10.72 10.72 10.72 10.72c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22"
                fill-rule="evenodd"
              />
            </svg>
          </button>
        </div>
        <div class="modal-body text-center">
          <p>
            <img :src="'/images/logo-header.png'" class="logo" alt />
          </p>
          <p>{{body}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    show: {
      default: false,
      required: true
    },
    body: {
      default: null,
      required: false
    }
  },
  mounted() {
    if (this.show) {
      let modal = setTimeout($("#adsModal").modal("toggle"), 3000);
      clearTimeout(modal);
    }
  }
};
</script>

<style scoped>
.logo {
  width: 190px;
}
</style>
