<template>
  <div class="form-group">
    <select class="form-control" v-model="price">
      <option v-for="(option, index) in list" :key="index" :value="option">{{ option.text }}</option>
    </select>
  </div>
</template>

<script>
export default {
  props: ["list"],
  data() {
    return {
      price: this.list[0]
    };
  },
  watch: {
    price: function(val) {
      let payment = this.$store.getters.getPayment;
      payment.paypal.amount.value = val.price;
      payment.payload.points = val.points;
      this.$store.commit("setPayment", payment);
    }
  }
};
</script>

<style>
</style>