<template></template>

// <button class="btn btn-primary btn-sm" :parcel="parcel" @click="add">
//     <span v-if="!isActive">Add to cart</span>
//     <span v-if="isActive">Remove from cart</span>
//   </button>
<script>
import axios from "axios";

export default {
  props: {
    parcel: {
      required: true,
      type: Number
    },
    in: {
      required: false,
      type: Boolean,
      value: false
    }
  },
  data() {
    return {
      isActive: this.in
    };
  },
  methods: {
    add() {
      this.isActive = !this.isActive;
      axios
        .post(`/my/transaction/`, {
          in_cart: this.isActive,
          parcel: this.parcel
        })
        .then(response => {
          this.$toasted.success("Success", {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });
        })
        .catch(error => {
          this.$toasted.error("Error", {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });
        });
    }
  }
};
</script>