<template>
  <div class="form-group">
    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        :class="{'is-invalid': errors}"
        :value="value"
        :id="id"
        :name="id"
        :checked="checked"
        :required="required"
      />
      <label class="form-check-label" :for="id" v-html="label"></label>
      <span v-if="errors" class="invalid-feedback" role="alert">
        <strong>{{ errors }}</strong>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: true
    },
    errors: {
      type: String,
      required: true
    },
    checked: {
      type: Boolean,
      required: false,
      default: false
    },
    required: {
      type: Boolean,
      required: false,
      default: true
    }
  }
};
</script>
