<template>
  <div class="filter mb-5">
    <div class="mb-3 filter__header">
      <h6 class="h6">
        <button class="show btn btn-sm collapse" data-toggle="collapse" :data-target="'#' + id"></button>
        {{title}}
      </h6>
    </div>
    <div class="collapse show collapsed pl-1" :id="id">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: ["id", "title"]
};
</script>

<style>
</style>