<template>
  <div class="form-group">
    <label for="country">Country</label>
    <select
      class="form-control"
      id="country"
      name="country"
      :class="{'is-invalid': errors}"
      required="required"
      v-model="value"
    >
      <option v-for="item in list" :key="item.code" :value="item.name">
          {{ item.name }}
        </option>
    </select>
    <span v-if="errors" role="alert" class="invalid-feedback">
      <strong>{{errors}}</strong>
    </span>
  </div>
</template>

<script>
import countries from '../countries';

export default {
  props: {
    errors: {
      type: String,
      required: false
    },
    selected: {
        type: String,
        required: false
    }
  },
  data: function(){
      return {
          list: countries, 
          value: this.selected
      }
  }
};
</script>
