<template>
  <slick :options="options" @lazyLoaded="handleLazyLoaded">
    <a
      v-for="(country, index) in countries"
      :key="index"
      :href="`/search?status=active&country=${country.name}`"
    >
      <div class="slick__container">
        <img :data-lazy="'/images/flag/' + country.name + '.svg'" alt />
        <div class="slick__title">
          <p class>{{country.name}}</p>
        </div>
      </div>
    </a>
  </slick>
</template>

<script>
import Slick from "vue-slick";
import { home } from "../slider";
import countries from "../countries";

export default {
  props: {
    color: {
      required: false
    }
  },
  data() {
    return {
      options: home,
      countries: countries
    };
  },
  components: { Slick },
  methods: {
    handleLazyLoaded(event, slick, image, imageSource) {
      image.css("display", "none");
      image.parent().css("background-image", 'url("' + imageSource + '")');
      image.parent().css("border", "1px solid rgb(244, 244, 244)");
    }
  }
};
</script>
<style  scoped>
.slick__container {
  position: relative;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 5px;
}

.slick__title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  bottom: 0;
}
.slick__text {
  height: 240px;
  text-align: center;
  margin: 0 5px;
  font-weight: bold;
  padding-top: 100px;
  font-size: 1.4em;
}
</style>
