<template>
  <div class="form-group">
    <label :for="id" :class="{'': required}" v-html="label"></label>
    <input
      :id="id"
      type="text"
      class="form-control input-date datepicker"
      :class="{'is-invalid': errors}"
      :name="id"
      :value="value"
      :required="required"
    />
    <span v-if="errors" role="alert" class="invalid-feedback">
      <strong>{{errors}}</strong>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: true
    },
    errors: {
      type: String,
      required: true
    },
    required: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  created() {
    // Inputmask("date", {
    //   inputFormat: "dd/mm/yyyy"
    // }).mask(window.$(".input-date"));
  }
};
</script>
