<template>
  <span>
    <a href="#" class="post__link" @click.prevent="isConfirm = true" v-if="!isConfirm">Delete</a>
    <span v-if="isConfirm" class="font-weight-bolder">
      Are you sure you want to delete?
      <a @click.prevent="deletePost" href="#">Yes</a>
      <a href="#" @click.prevent="isConfirm = false">No</a>
    </span>
  </span>
</template>

<script>
import axios from "axios";

export default {
  props: {
    postId: {
      required: true
    }
  },
  data() {
    return {
      isConfirm: false
    };
  },
  methods: {
    deletePost() {
      axios.delete(`/api/chat/${this.postId}`).then(response => {
        this.isConfirm = false;
        this.$emit("deleted", this.postId);
      });
    }
  }
};
</script>
<style  scoped></style>
