<template>
  <div v-if="!removed" class="remove-media border mb-2">
    <button class="btn-delete btn-light" Parcel="parcel" @click="remove(parcel, media)">x</button>
    <img :src="src" class="img-fluid" alt />
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: ["parcel", "media", "src"],
  data() {
    return {
      removed: false
    };
  },
  methods: {
    remove(parcel, media) {
      axios
        .delete(`/api/parcel/${parcel}/media/${media}`)
        .then(response => {
          this.$toasted.success("Success", {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });
          location.reload();
        })
        .catch(error => {
          this.$toasted.error("Error", {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });
        });
    }
  }
};
</script>