<template>
  <span>
    <a href="#" class="post__link" @click.prevent="isConfirm = true" v-if="!isConfirm">Delete</a>
    <span v-if="isConfirm" class="font-weight-bolder">
      Are you sure you want to delete?
      <a @click.prevent="deleteComment" href="#">Yes</a>
      <a href="#" @click.prevent="isConfirm = false">No</a>
    </span>
  </span>
</template>

<script>
import axios from "axios";
import _ from "underscore";

export default {
  props: {
    postId: {
      required: true
    },
    commentId: {
      required: true
    }
  },
  data() {
    return {
      isConfirm: false
    };
  },
  methods: {
    deleteComment() {
      axios
        .delete(`/api/chat/${this.postId}/comments/${this.commentId}`)
        .then(response => {
          this.isConfirm = false;
          this.$emit("deleted", this.commentId);
        });
    }
  }
};
</script>
<style  scoped></style>
