<template>
  <div class="container">
    <div class="row justify-content-center">
      <div :class="[size]">
        <div class="card">
          <div class="card-body p-5">
            <h2 class="mb-3 text-center">{{title}}</h2>
            <form method="POST" :action="action" autocomplete="off" enctype="multipart/form-data">
              <slot></slot>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    size: {
      type: String,
      required: false,
      default: "col-lg-6"
    },
    action: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: false
    }
  }
};
</script>
