<template>
  <form-wizard @on-complete="onComplete" finish-button-text="We're there">
    <div slot="title">
      <h3 class="mb-3 mb-3 text-primary">Add Parcel</h3>
      <p>Add reports in few steps</p>
    </div>
    <tab-content title="Select Tender" icon="fas fa-box-open" :before-change="canAdd">
      <div class="col-8 offset-2">
        <ValidationObserver ref="stepOne" v-slot="{ validate, dirty }">
          <ValidationProvider name="tender_id" rules="required" v-slot="{ errors }">
            <div class="form-group">
              <label for>Tender</label>
              <select
                v-model="form.tender_id"
                :class="{'is-invalid': errors.length}"
                class="form-control"
              >
                <option
                  v-for="(tender, index) in list.tender"
                  :value="tender.id"
                  :key="index"
                >{{tender.title}}</option>
              </select>
              <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
            </div>
          </ValidationProvider>
          <ValidationProvider name="parcel_number" rules="required" v-slot="{ errors }">
            <div class="form-group">
              <label for>Parcel Number</label>
              <input
                type="number"
                class="form-control"
                :class="{'is-invalid': errors.length}"
                v-model="form.parcel_number"
              />
              <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
            </div>
          </ValidationProvider>
        </ValidationObserver>
      </div>
    </tab-content>
    <tab-content title="Parcel Details" icon="fas fa-info-circle" :before-change="submit">
      <div class="col-8 offset-2">
        <ValidationObserver ref="stepTwo" v-slot="{ validate, dirty }">
          <ValidationProvider name="size" rules="required" v-slot="{ errors }">
            <div class="form-group">
              <label for>Size</label>
              <input
                type="number"
                :class="{'is-invalid': errors.length}"
                class="form-control"
                v-model="form.size"
              />
              <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
            </div>
          </ValidationProvider>
          <ValidationProvider name="color_by_eye" rules="required" v-slot="{ errors }">
            <div class="form-group">
              <label for="parcel">Color by eye</label>
              <select
                v-model="form.color_by_eye"
                class="form-control"
                :class="{'is-invalid': errors.length}"
              >
                <option
                  v-for="(color, index) in list.color"
                  :value="color.id"
                  :key="index"
                >{{color.title}}</option>
              </select>
              <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
            </div>
          </ValidationProvider>
          <div class="form-group">
            <label for>Comment on color by eye</label>
            <textarea class="form-control" rows="3" v-model="form.comment_color_by_eye"></textarea>
          </div>
          <ValidationProvider name="color_by_machine" rules="required" v-slot="{ errors }">
            <div class="form-group">
              <label for="parcel">Color by machine</label>
              <select
                v-model="form.color_by_machine"
                class="form-control"
                :class="{'is-invalid': errors.length}"
              >
                <option
                  v-for="(color, index) in list.color"
                  :value="color.id"
                  :key="index"
                >{{color.title}}</option>
              </select>
              <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
            </div>
          </ValidationProvider>
          <div class="form-group">
            <label for>Comment on color by machine</label>
            <textarea class="form-control" rows="3" v-model="form.comment_color_by_machine"></textarea>
          </div>
          <ValidationProvider name="flourscene" rules="required" v-slot="{ errors }">
            <div class="form-group">
              <label for="parcel">Fluorescence</label>
              <select
                v-model="form.flourscene"
                class="form-control"
                :class="{'is-invalid': errors.length}"
              >
                <option
                  v-for="(fluorescence, index) in list.fluorescence"
                  :value="fluorescence.id"
                  :key="index"
                >{{fluorescence.title}}</option>
              </select>
              <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
            </div>
          </ValidationProvider>
          <div class="form-group">
            <label for>Comment fluorescence</label>
            <textarea class="form-control" rows="3" v-model="form.comment_flourscene"></textarea>
          </div>
          <div class="row">
            <div class="col">
              <ValidationProvider name="valuation_from" rules="required" v-slot="{ errors }">
                <div class="form-group">
                  <label for>Valuation from</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="form.valuation_from"
                    :class="{'is-invalid': errors.length}"
                  />
                  <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
                </div>
              </ValidationProvider>
            </div>
            <div class="col">
              <ValidationProvider name="valuation_to" rules="required" v-slot="{ errors }">
                <div class="form-group">
                  <label for>Valuation from</label>
                  <input
                    type="number"
                    class="form-control"
                    v-model="form.valuation_to"
                    :class="{'is-invalid': errors.length}"
                  />
                  <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
                </div>
              </ValidationProvider>
            </div>
          </div>
        </ValidationObserver>
      </div>
    </tab-content>
    <tab-content title="Upload Files" icon="fas fa-file-upload">
      <div class="text-center">
        <button id="uppy-file" class="btn btn-info mr-2">Upload Files</button>
        <button id="uppy-img" class="btn btn-info">Upload Images</button>
      </div>
      <uppy
        v-if="uppy.url"
        trigger="#uppy-img"
        :restrictions="uppy.img"
        title="Sarin Images *.png, *.jpg, *.jpeg maxsize 2M"
        :url="uppy.url"
      ></uppy>
      <uppy
        v-if="uppy.url"
        trigger="#uppy-file"
        :restrictions="uppy.file"
        title="Sarin Files *.tnd, *.adv, *.cap maxsize 20M"
        :url="uppy.url"
      ></uppy>
    </tab-content>
  </form-wizard>
</template>

<script>
import { FormWizard, TabContent } from "vue-form-wizard";
import "vue-form-wizard/dist/vue-form-wizard.min.css";
import axios from "axios";
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { required } from "vee-validate/dist/rules";
import en from "vee-validate/dist/locale/en.json";

extend("required", {
  ...required,
  message: en.messages.required
});

export default {
  data() {
    return {
      uppy: {
        img: {
          maxNumberOfFiles: 4,
          minNumberOfFiles: 1,
          maxFileSize: 2097152,
          allowedFileTypes: ["image/png", "image/jpg", "image/jpeg"]
        },
        file: {
          maxNumberOfFiles: 1,
          minNumberOfFiles: 1,
          maxFileSize: 20971520,
          allowedFileTypes: [".tnd", ".adv", ".cap"]
        },
        url: null,
        redirectTo: null
      },
      form: {
        parcelId: null
      }
    };
  },
  props: {
    list: null
  },
  components: {
    FormWizard,
    TabContent,
    ValidationProvider,
    ValidationObserver
  },
  methods: {
    submit() {
      return new Promise((resolve, reject) => {
        axios
          .post("/my/reports", {
            csrf: document
              .querySelector('meta[name="csrf-token"]')
              .getAttribute("content"),
            ...this.form
          })
          .then(response => {
            this.uppy.url = response.data.uploadUrl;
            this.form.parcelId = response.data.parcelId;
            this.redirectTo = response.data.redirectTo;
            resolve(true);
          })
          .catch(error => {
            this.$refs.stepTwo.setErrors(error.response.data.errors);
            resolve(false);
          });
      });
    },
    canAdd() {
      return new Promise((resolve, reject) => {
        axios
          .get("/api/parcel/reports", {
            params: {
              tender_id: this.form.tender_id,
              parcel_number: this.form.parcel_number,
              parcelId: this.form.parcelId
            }
          })
          .then(response => {
            if (response.data.canAdd) {
              resolve(true);
            } else {
              this.$toasted.error("You can not add more reports", {
                theme: "toasted-primary",
                className: "bg-error",
                position: "bottom-right",
                duration: 5000
              });
              resolve(false);
            }
          })
          .catch(error => {
            this.$refs.stepOne.setErrors(error.response.data.errors);
            resolve(false);
          });
      });
    },
    onComplete() {
      window.location = this.redirectTo;
    }
  }
};
</script>

<style>
</style>