<template>
  <form :action="action" method="GET">
    <div class="row">
      <div class="col-lg-3">
        <div class="form-group">
          <label for class="font-weight-bold">STATUS</label>
          <select name="status" class="selectpicker form-control" v-model="status">
            <option
              v-for="option in statusList"
              :disabled="option.disabled"
              :key="option.id"
              :value="option.id"
            >{{option.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for class="font-weight-bold">SUPPLIER</label>
          <select name="supplier" class="selectpicker form-control" v-model="supplier">
            <option
              v-for="option in suppliers"
              :key="option.supplier.id"
              :value="option.supplier.id"
              :disabled="option.supplier.disabled"
            >{{option.supplier.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <label for class="font-weight-bold">TENDER</label>
          <select name="tender" class="selectpicker form-control" v-model="tender">
            <option
              v-for="option in tenders"
              :key="option.id"
              :value="option.id"
              :disabled="option.disabled"
            >{{option.title}}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-2">
        <button class="btn btn-primary btn__search">Search</button>
      </div>
    </div>
  </form>
</template>

<script>
import axios from "axios";

export default {
  props: ["action"],
  data() {
    return {
      status: null,
      tender: null,
      supplier: null,
      tenders: [],
      statusList: [],
      suppliers: []
    };
  },
  methods: {
    getTenders() {
      if (!this.supplier) {
        return;
      }
      axios
        .get(`/api/tenders`, {
          params: {
            status: this.status,
            supplier: this.supplier
          }
        })
        .then(response => {
          let data = [
            { id: null, title: "Select tender", disabled: true },
            ...response.data.tenders
          ];
          this.tenders = data;
          this.tender = null;
        })
        .catch(error => {
          this.$toasted.error("Error", {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });
        });
    },
    getSuppliers() {
      axios
        .get(`/api/suppliers/`, {
          params: {
            status: this.status
          }
        })
        .then(response => {
          let data = [
            {
              supplier: { id: null, title: "Select supplier", disabled: true }
            },
            ...response.data.suppliers
          ];
          this.suppliers = data;
          this.supplier = null;
        })
        .catch(error => {
          this.$toasted.error("Error", {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });
        });
    }
  },
  computed: {
    isValid: function() {
      return this.tender ? true : false;
    }
  },
  mounted() {
    this.statusList = [
      { id: null, title: "Select status", disabled: true },
      { id: "closed", title: "Closed" },
      { id: "active", title: "Active" },
      { id: "upcoming", title: "Upcoming" }
    ];
  },
  watch: {
    status: function() {
      this.suppliers = [];
      this.tenders = [];
      this.getSuppliers();
    },
    supplier: function() {
      this.tenders = [];
      this.getTenders();
    }
  }
};
</script>

<style>
.is-hide {
  display: none;
}
</style>
