<template>
  <div class="list-group">
    <a
      href="#"
      class="list-group-item list-group-item-action"
      v-for="(category, index) in categories"
      :key="index"
    >{{category.title}}</a>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      categories: []
    };
  },
  created() {
    axios
      .get("https://forum-b9548.firebaseio.com/category.json")
      .then(({ data }) => {
        this.categories = data;
      });
  }
};
</script>