<template>
  <div class="p-3">
    <div class="text-center">
      <button disabled="disabled" class="btn btn-sm" title="total likes">
        <i class="fas fa-thumbs-up"></i>
        {{like.count}}
      </button>
      <button disabled="disabled" class="btn btn-sm" title="total dislike">
        <i class="fas fa-thumbs-down"></i>
        {{dislike.count}}
      </button>
    </div>
    <div class="progress progress-bar__sm">
      <div
        class="progress-bar"
        role="progressbar"
        :aria-valuenow="progress"
        :style="{width: progress + '%'}"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["like", "dislike"],
  computed: {
    progress() {
      let total = this.like.count + this.dislike.count;
      if (total == 0) return 0;

      return (this.like.count / total) * 100;
    }
  }
};
</script>

<style>
</style>