<template>
  <div>
    <socialite></socialite>
    <p class="or">
      <span class="text-muted">or</span>
    </p>
    <ValidationObserver ref="observer" v-slot="{ validate, dirty }">
      <ValidationProvider name="email" rules="required|email" v-slot="{ errors }">
        <p>
          <label for>Email</label>
          <input
            type="text"
            v-model="email"
            class="form-control"
            :class="{'is-invalid': errors.length}"
          />
          <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
        </p>
      </ValidationProvider>

      <ValidationProvider name="password" rules="required" v-slot="{ errors }">
        <p>
          <label for>Password</label>
          <input
            type="password"
            v-model="password"
            class="form-control"
            :class="{'is-invalid': errors.length}"
          />
          <span v-if="errors.length" class="invalid-feedback">{{errors[0]}}</span>
        </p>
      </ValidationProvider>
      <p class="mt-2">
        <button class="btn btn-primary btn-block" @click.prevent="validate().then(onSubmit)">Login</button>
      </p>
      <p class="text-center">
        <a href="/password/reset">Forget password?</a>
      </p>
      <p class="border-top pt-4">
        Don’t have an account?
        <a href="#" @click.prevent="$emit('action', 'Register')">Sign up</a>
      </p>
    </ValidationObserver>
  </div>
</template>


<script>
import axios from "axios";
import { ValidationProvider, ValidationObserver, extend } from "vee-validate";
import { required, email } from "vee-validate/dist/rules";
import en from "vee-validate/dist/locale/en.json";
import Socialite from "../components/Auth/Socialite";

extend("required", {
  ...required,
  message: en.messages.required
});

extend("email", {
  ...email,
  message: en.messages.email
});

export default {
  data() {
    return {
      email: null,
      password: null
    };
  },
  components: {
    ValidationProvider,
    ValidationObserver,
    Socialite
  },
  methods: {
    onSubmit() {
      axios
        .post("/login", {
          email: this.email,
          password: this.password
        })
        .then(() => {
          location.reload();
        })
        .catch(error => {
          this.$refs.observer.setErrors(error.response.data.errors);
        });
    }
  }
};
</script>

<style scoped>
.or {
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 0.1em;
}
.or span {
  background: #fff;
  padding: 0 10px;
}
</style>