<template>
  <div>
    <slick :options="options">
      <a v-for="(parcel, index) in parcels" :key="index" :href="parcel.url">
        <div class="slick__container lazyload" :data-bgset="parcel.image">
          <div class="slick__title">
            <p class="mb-0">{{parcel.number}}</p>
            <p>{{parcel.tender}}</p>
          </div>
        </div>
      </a>
    </slick>
  </div>
</template>

<script>
import Slick from "vue-slick";
import { home } from "../slider";
export default {
  props: ["parcels"],
  data() {
    return {
      options: home
    };
  },
  methods: {},
  components: { Slick }
};
</script>
<style  scoped>
.slick__container {
  position: relative;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 5px;
}

.slick__title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  bottom: 0;
}
</style>
