<template>
  <slick :options="options">
    <a v-for="(tender, index) in tenders" :key="index" :href="tender.url">
      <div class="slick__container lazyload" :data-bgset="tender.image">
        <div class="slick__title">
          <p class="mb-0">{{tender.title}}</p>
          <p>{{tender.count}}</p>
        </div>
      </div>
    </a>
  </slick>
</template>

<script>
import Slick from "vue-slick";
import { home } from "../slider";

export default {
  props: ["tenders"],
  data() {
    return {
      options: home
    };
  },
  components: { Slick },
  methods: {}
};
</script>
<style  scoped>
.slick__container {
  position: relative;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 5px;
}

.slick__title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  bottom: 0;
}
</style>
