<template>
  <slick :options="options" @lazyLoaded="handleLazyLoaded">
    <div class="slick__container" v-for="(image, index) in images" :key="index" :href="image.url">
      <img :data-lazy="image.url" alt />
    </div>
  </slick>
</template>

<script>
import Slick from "vue-slick";
import { parcel } from "../slider";

export default {
  props: ["images"],
  data() {
    return {
      options: parcel
    };
  },
  components: { Slick },
  methods: {
    handleLazyLoaded(event, slick, image, imageSource) {
      image.css("display", "none");
      image.parent().css("background-image", 'url("' + imageSource + '")');
    }
  }
};
</script>
<style  scoped>
.slick__container {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-prev:before,
.slick-next:before {
  color: #fff;
} */
</style>
