<template>
  <section>
    <div v-for="(parcel, $index) in parcels" class="mb-3 parcel" :key="$index">
      <parcel :parcel="parcel">
        <div class="dropdown" v-if="action">
          <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v"></i>
          </button>
          <div class="dropdown-menu">
            <a :href="`/my/reports/${parcel.content.id}/edit`" class="dropdown-item text-black">Edit</a>
            <form :action="`/my/reports/${parcel.content.id}`" method="POST">
              <input type="hidden" name="_token" :value="token" />
              <input type="hidden" name="_method" value="DELETE" />
              <button class="dropdown-item text-black">Delete</button>
            </form>
          </div>
        </div>
        <template v-slot:like>
          <like v-if="like" :like="parcel.content.like" :dislike="parcel.content.dislike"></like>
        </template>
      </parcel>
    </div>
    <infinite-loading :identifier="identifier" @infinite="getParcels"></infinite-loading>
  </section>
</template>

<script>
import InfiniteLoading from "vue-infinite-loading";
import axios from "axios";

export default {
  props: {
    url: {
      type: String,
      required: true
    },
    params: {
      type: Object,
      required: false
    },
    like: {
      type: Boolean,
      required: false,
      default: false
    },
    action: {
      type: Boolean,
      required: false,
      default: false
    },
    token: {
      type: String,
      required: false
    },
    history: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      parcels: [],
      page: 1,
      identifier: +new Date()
    };
  },
  components: {
    InfiniteLoading
  },
  methods: {
    update() {
      this.identifier += 1;
      this.page = 1;
      this.parcels = [];
    },
    getParcels($state) {
      axios
        .get(this.url, {
          params: {
            page: this.page,
            ...this.params
          }
        })
        .then(response => {
          let data = response.data.parcels;
          if (data.length) {
            this.page += 1;
            this.parcels.push(...data);
            $state.loaded();
          } else {
            $state.complete();
          }
          if (this.history) {
            history.pushState({}, null, response.data.url);
          }
        });
    }
  }
};
</script>

<style>
</style>