<template>
  <div class="row">
    <div class="col-lg-4">
      <parcel-slider v-if="parcel.content.slider.hasSlider" :images="parcel.content.slider.images"></parcel-slider>
      <div class="no-image parcel__image" v-else></div>
    </div>
    <div class="col-lg-8">
      <div class="parcel__details p-2">
        <div class="parcel__action float-right">
          <div
            v-if="parcel.meta.showPrice"
            class="font-weight-bolder parcel__price text-primary"
          >{{parcel.meta.price}}</div>
          <slot></slot>
        </div>
        <h4>
          <a :href="parcel.meta.url">
            <i
              v-if="parcel.content.hasIt"
              class="fa fa-bookmark text-success"
              title="This report uploaded by you"
            ></i>
            Parcel {{ parcel.content.parcel_number }}
          </a>
          <small>({{parcel.meta.reportText}})</small>
        </h4>
        <p>
          <span v-html="parcel.meta.stars"></span>
          <span>({{parcel.meta.rates.avg}})</span>
        </p>
        <div>
          <ul class="list-unstyled m-0">
            <li>
              <span class="title font-weight-bold">Color by eye</span>
              <span class="value">{{ parcel.content.color_by_eye}}</span>
              <span class="title font-weight-bold">Color by machine</span>
              <span class="value">{{ parcel.content.color_by_machine}}</span>
            </li>
            <li>
              <span class="title font-weight-bold">Size</span>
              <span class="value">{{parcel.content.size}}</span>
              <span class="title font-weight-bold">Fluorescence</span>
              <span class="value">{{parcel.content.flourscene}}</span>
            </li>
            <li>
              <span class="title font-weight-bold">Valuation from</span>
              <span class="value">{{parcel.content.valuation_from}}</span>
              <span class="title font-weight-bold">Valuation to</span>
              <span class="value">{{parcel.content.valuation_to}}</span>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-5">
            <slot name="like"></slot>
          </div>
          <div class="col-7">
            <div class="mb-2 parcel__actions text-right">
              <div v-if="parcel.meta.isAuth && !parcel.meta.boughtIt">
                <wishlist :thread="parcel.meta.thread" :in="parcel.meta.inWishList"></wishlist>
                <pay-with :payment="parcel.meta.payment"></pay-with>
                <br />
                <a href="/page/plans" class="border btn btn__prime mt-1 rounded">
                  <span class="text__underline">Get it for &#36;0.00 with</span>
                  <i class="fa fa-check fa-xs logo__fa"></i>
                  <span class="logo__text">prime</span>
                </a>
              </div>
              <div v-if="parcel.meta.isAuth && parcel.meta.boughtIt">
                <a :href="parcel.meta.download" class="border btn btn__prime mt-1 rounded">Download</a>
              </div>
              <div v-if="!parcel.meta.isAuth">
                <a
                  href="#"
                  class="btn btn-outline-primary"
                  data-toggle="modal"
                  data-target="#authModal"
                >Pay</a>
                <a href="/page/plans" class="border btn btn__prime mt-1 rounded">
                  <span class="text__underline">Get it for &#36;0.00 with</span>
                  <i class="fa fa-check fa-xs logo__fa"></i>
                  <span class="logo__text">prime</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ParcelSlider from "../components/ParcelSlider";

export default {
  props: ["parcel"],
  components: {
    ParcelSlider
  }
};
</script>

<style>
.slick__auto {
  height: 100% !important;
}
.slick__auto * {
  height: 100% !important;
}
.slick__auto .slick-prev,
.slick__auto .slick-next {
  z-index: 9999;
}
.slick__auto .slick-prev {
  left: 0;
}
.slick__auto .slick-next {
  right: 0;
}
.slick__auto .slick-prev:before,
.slick__auto .slick-next:before {
  color: #444444;
}
</style>