<template>
  <div class="form-group">
    <label :for="id" v-html="label"></label>
    <input
      :id="id"
      type="password"
      class="form-control"
      :class="{'is-invalid': errors}"
      :name="id"
      :required="required"
    />
    <span v-if="errors" role="alert" class="invalid-feedback">
      <strong>{{errors}}</strong>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    errors: {
      type: String,
      required: true
    },
    required: {
      type: Boolean,
      required: false,
      default: true
    }
  }
};
</script>
