<template>
  <div
    class="modal fade"
    id="paymentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="paypalModal"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="p-2">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a
                class="nav-item nav-link active"
                data-toggle="tab"
                href="#nav-paypal"
                role="tab"
                aria-selected="true"
              >PayPal</a>
              <a
                v-if="!show"
                class="nav-item nav-link"
                data-toggle="tab"
                href="#nav-bonus"
                role="tab"
                aria-selected="true"
              >Bonus</a>
            </div>
          </nav>
          <div class="p-5 tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-paypal" role="tabpanel">
              <div v-if="show">
                <div
                  class="alert alert-info"
                >Buy points and feel free to use them any time with anything.</div>
                <buy-points :list="list"></buy-points>
              </div>

              <paypal></paypal>
            </div>
            <div v-if="!show" class="tab-pane fade" id="nav-bonus" role="tabpanel">
              <points></points>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: mapState({
    show: state => state.showPoints,
    list: state => state.points
  })
};
</script>
