<template>
  <div ref="paypal"></div>
</template>

<script>
export default {
  mounted: function() {
    const script = document.createElement("script");
    const ClientID =
      "AbHScULXj5ioXgyweITyt9xTiL6m1AoeZwFR00lQ30vEImmFqq9dqI5Sx6qqPR4Yiv5yKjyxa6MW5qr9";
    script.src = `https://www.paypal.com/sdk/js?client-id=${ClientID}`;
    script.addEventListener("load", this.setLoaded);
    document.body.appendChild(script);
  },
  methods: {
    setLoaded: function() {
      window.paypal
        .Buttons({
          createOrder: (data, actions) => {
            let payment = this.$store.getters.getPayment;

            console.log(payment);
            return actions.order.create({
              purchase_units: [payment.paypal]
            });
          },
          onApprove: async (data, actions) => {
            const order = await actions.order.capture();
            this.$store
              .dispatch("buyWith", "paypal")
              .then(response => {
                this.$toasted.success(response.data.message, {
                  theme: "toasted-primary",
                  position: "bottom-right"
                });
                setTimeout(() => location.reload(), 4000);
              })
              .catch(error => {
                this.$toasted.error(error.response.data.message, {
                  theme: "toasted-primary",
                  position: "bottom-right",
                  duration: 5000
                });
              });
            console.log(order);
          },
          onError: err => {
            console.log(err);
          }
        })
        .render(this.$refs.paypal);
    }
  }
};
</script>

<style>
</style>