<template>
  <button
    class="btn btn-primary"
    :class="{'btn-block': block}"
    type="button"
    @click="openModal"
  >{{title}}</button>
</template>

<script>
export default {
  props: {
    payment: {
      required: true
    },
    title: {
      required: false,
      default: "Pay"
    },
    block: {
      required: false,
      default: false
    }
  },
  methods: {
    openModal() {
      this.$store.commit("setPayment", this.payment);

      if (this.payment.payload.action == "buyPoints") {
        this.$store.commit("setShowPoints", true);
        $("#paymentModal").modal("toggle");
      } else {
        if (Cookies.get("points_first_payment") == "true") {
          this.$store
            .dispatch("buyWith", "bonus")
            .then(response => {
              this.$toasted.success(response.data.message, {
                theme: "toasted-primary",
                position: "bottom-right"
              });
              setTimeout(() => location.reload(), 1000);
            })
            .catch(error => {
              this.$toasted.error(error.response.data.message, {
                theme: "toasted-primary",
                position: "bottom-right",
                duration: 5000
              });
              Cookies.set("points_first_payment", false);
            });
        } else {
          this.$store.commit("setShowPoints", false);
          $("#paymentModal").modal("toggle");
        }
      }
    }
  }
};
</script>
