<template>
  <div class="container plans">
    <div class="row sticky-top">
      <div class="col-3 offset-3 text-center text-white">
        <div
          class="bg-primary label"
          :class="{'label__selected': selected == 'Individual'}"
          @click="selected = 'Individual'"
        >Single</div>
      </div>
      <div class="col-3 text-center text-white">
        <div
          class="bg-primary label"
          :class="{'label__selected': selected == 'Tender'}"
          @click="selected = 'Tender'"
        >Tender</div>
      </div>
      <div class="col-3 text-center text-white">
        <div
          class="bg-primary label"
          :class="{'label__selected': selected == 'Prime'}"
          @click="selected = 'Prime'"
        >Prime</div>
      </div>
    </div>
    <div class="row plan pb-3 pt-3" v-for="(feature, index) in features" :key="index">
      <div class="col-3">{{feature.title}}</div>
      <div class="col-3 text-center">
        <svg
          v-if="feature.individual"
          :class="{'thin-check--selected': selected == 'Individual'}"
          class="thin-check"
          viewBox="0 0 26 26"
          focusable="true"
        >
          <path d="M9.19 22.892L.5 14.198l1.232-1.233 7.236 7.24L23.793.516l1.38 1.04L9.19 22.892" />
        </svg>
      </div>
      <div class="col-3 text-center">
        <svg
          v-if="feature.tender"
          :class="{'thin-check--selected': selected == 'Tender'}"
          class="thin-check"
          viewBox="0 0 26 26"
          focusable="true"
        >
          <path d="M9.19 22.892L.5 14.198l1.232-1.233 7.236 7.24L23.793.516l1.38 1.04L9.19 22.892" />
        </svg>
      </div>
      <div class="col-3 text-center">
        <svg
          v-if="feature.prime"
          :class="{'thin-check--selected': selected == 'Prime'}"
          class="thin-check"
          viewBox="0 0 26 26"
          focusable="true"
        >
          <path d="M9.19 22.892L.5 14.198l1.232-1.233 7.236 7.24L23.793.516l1.38 1.04L9.19 22.892" />
        </svg>
      </div>
    </div>
    <div class="row plan pb-3 pt-3" v-for="(cost, index) in costs" :key="index+10">
      <div class="col-3">{{cost.title}}</div>
      <div class="col-3 text-center">
        <span :class="{'cost--selected': selected == 'Individual'}" class="cost">{{cost.individual}}</span>
      </div>
      <div class="col-3 text-center">
        <span :class="{'cost--selected': selected == 'Tender'}" class="cost">{{cost.tender}}</span>
      </div>
      <div class="col-3 text-center">
        <span :class="{'cost--selected': selected == 'Prime'}" class="cost">{{cost.prime}}</span>
      </div>
    </div>
    <div class="row plan pb-3 pt-3">
      <div class="col-3 offset-3">
        <a
          v-if="links.individual.auth"
          :class="{'btn--selected': selected == 'Individual'}"
          class="btn btn-light btn-block"
          :href="links.individual.url"
        >{{links.individual.text}}</a>
        <a
          v-else
          :class="{'btn--selected': selected == 'Individual'}"
          class="btn btn-light btn-block"
          data-toggle="modal"
          :href="'#'"
          data-target="#authModal"
        >{{links.individual.text}}</a>
      </div>
      <div class="col-3">
        <a
          :class="{'btn--selected': selected == 'Tender'}"
          class="btn btn-light btn-block"
          :href="links.tender.url"
        >{{links.tender.text}}</a>
      </div>
      <div class="col-3">
        <button
          v-if="links.prime.status == 0"
          :class="{'btn--selected': selected == 'Prime'}"
          class="btn btn-light btn-block"
          data-toggle="modal"
          data-target="#authModal"
        >{{links.prime.text}}</button>
        <button
          v-if="links.prime.status == 1"
          :class="{'btn--selected': selected == 'Prime'}"
          class="btn btn-light btn-block"
          type="button"
          @click="freeTrial()"
        >{{links.prime.text}}</button>
        <a
          v-if="links.prime.status == 2"
          :href="links.prime.url"
          :class="{'btn--selected': selected == 'Prime'}"
          class="btn btn-light btn-block"
        >{{links.prime.text}}</a>
        <button
          v-if="links.prime.status == 3"
          @click="openModal(links.prime.payment)"
          :class="{'btn--selected': selected == 'Prime'}"
          class="btn btn-light btn-block"
        >{{links.prime.text}}</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: ["features", "costs", "links"],
  data() {
    return {
      selected: null
    };
  },
  methods: {
    freeTrial() {
      axios
        .post(`/api/my/purchases/`, {
          action: "trial"
        })
        .then(response => {
          this.$toasted.success(
            "Thanks! you have free 14 days to use safetrade",
            {
              theme: "toasted-primary",
              position: "bottom-right",
              duration: 5000
            }
          );
        })
        .catch(error => {
          this.$toasted.error(error.response.data.message, {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });
        });
    },
    openModal(payment) {
      this.$store.commit("setShowPoints", false);
      $("#paymentModal").modal("toggle");
      this.$store.commit("setPayment", payment);
    }
  }
};
</script>

<style scoped>
svg.thin-check {
  width: 18px;
  height: 18px;
}

.plans .plan {
  border-bottom: 1px solid #ccc;
}

.plans .plan:last-child {
  border-bottom: none;
}

.plans .label {
  line-height: 66px;
  cursor: pointer;
}

.plans .label::after {
  content: "";
  display: block;
  border: 0 solid transparent;
  border-top-color: #ff5a5f;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.plans .label__selected::after {
  border-width: 8px;
  border-bottom-width: 0;
}

.thin-check--selected {
  fill: #ff5a5f;
}
.cost {
}
.cost--selected {
  color: #ff5a5f;
}
.btn--selected {
  color: #fff;
  background-color: #ff5a5f;
  border-color: #ff5a5f;
}
</style>