<template>
  <div>
    <p>
      <strong>You have:</strong>
      {{myPoints}} points
    </p>
    <p>
      <strong>This action will take:</strong>
      {{points}} points
    </p>
    <p>
      <button
        :disabled="isLoading"
        type="button"
        @click="onClick"
        class="btn btn-primary btn-block"
      >
        With Bonus
        <div class="spinner-border spinner-border-sm" role="status" v-if="isLoading">
          <span class="sr-only">Loading...</span>
        </div>
      </button>
    </p>
    <settings></settings>
  </div>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";

export default {
  data() {
    return {
      myPoints: 0,
      isLoading: false
    };
  },
  computed: mapState({
    points: state => state.subtractedPoints
  }),
  methods: {
    onClick() {
      this.isLoading = true;
      this.$store
        .dispatch("buyWith", "bonus")
        .then(response => {
          this.$toasted.success(response.data.message, {
            theme: "toasted-primary",
            position: "bottom-right"
          });
          setTimeout(() => location.reload(), 4000);
        })
        .catch(error => {
          this.$toasted.error(error.response.data.message, {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });

          this.isLoading = false;
        });
    }
  },
  created() {
    axios
      .get(`/api/my/points`)
      .then(response => {
        this.myPoints = response.data.points;
      })
      .catch(error => {});
  }
};
</script>

<style>
</style>