<template>
  <div class="row posts posts__sm">
    <div class="col-lg-9">
      <div class="row d-lg-none d-md-block">
        <div class="col">
          <a
            :href="'/chat/create'"
            class="btn btn-danger btn-block mb-2"
            data-toggle="modal"
            data-target="#postModal"
          >Add Post</a>
        </div>
        <div class="col">
          <div class="form-group">
            <select class="form-control" @change="update(form.supplier)" v-model="form.supplier">
              <option :value="null">All</option>
              <option
                :value="supplier.id"
                v-for="(supplier, index) in suppliers"
                :key="index"
              >{{supplier.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <ul class="list-group mb-2 post">
        <li class="list-group-item" v-for="(post, index) in posts" :key="index">
          <post :post="post">
            <template v-slot:can-edit v-if="post.canEdit">
              <a href="#" class="post__link" @click.prevent="edit(post)">Edit</a> |
              <delete-post :postId="post.id" @deleted="deletePost($event)"></delete-post>
            </template>
          </post>
        </li>
      </ul>
      <infinite-loading :identifier="identifier" @infinite="getPosts"></infinite-loading>
    </div>
    <div class="col-lg-3 d-lg-block d-none">
      <a
        :href="'/chat/create'"
        class="btn btn-danger btn-block mb-2"
        @click.prevent="add()"
      >Add Post</a>
      <div class="list-group">
        <a href class="list-group-item list-group-item-action disabled font-weight-bolder">Suppliers</a>
        <a
          href="#"
          :class="{active: !form.supplier}"
          class="list-group-item list-group-item-action"
          @click.prevent="update(null)"
        >All</a>
        <a
          href="#"
          v-for="(supplier, index) in suppliers"
          class="list-group-item list-group-item-action"
          :class="{active: form.supplier == supplier.id}"
          :key="index"
          @click.prevent="update(supplier.id)"
        >{{supplier.name}}</a>
      </div>
    </div>
    <post-form :post="post" ref="modal" @updated="editList($event)" @added="addList($event)"></post-form>
  </div>
</template>

<script>
import InfiniteLoading from "vue-infinite-loading";
import axios from "axios";
import _ from "underscore";

export default {
  props: {
    request: {
      required: false
    }
  },
  data() {
    return {
      posts: [],
      page: 1,
      suppliers: [],
      identifier: +new Date(),
      form: {
        supplier: this.request.supplier || null
      },
      post: {
        supplier: null,
        title: null,
        body: null,
        tender: null,
        id: null,
        status: "active"
      }
    };
  },
  components: {
    InfiniteLoading
  },
  methods: {
    update(supplier) {
      this.posts = [];
      this.identifier += 1;
      this.page = 1;
      this.form.supplier = supplier;
    },
    edit(post) {
      this.post.supplier = post.supplier.id;
      this.post.title = post.title;
      this.post.body = post.body;
      this.post.tender = post.tender.id;
      this.post.id = post.id;
      this.$refs.modal.getTenders();
      $("#postModal").modal("toggle");
    },
    editList(post) {
      _.extend(
        _.findWhere(this.posts, {
          id: post.id
        }),
        post
      );
      $("#postModal").modal("toggle");
    },
    addList(post) {
      this.posts.push(post);
      $("#postModal").modal("toggle");
    },
    add() {
      this.post.supplier = null;
      this.post.title = null;
      this.post.body = null;
      this.post.tender = null;
      this.post.id = null;

      $("#postModal").modal("toggle");
    },
    getPosts($state) {
      axios
        .get("/chat", {
          params: {
            page: this.page,
            ...this.form
          }
        })
        .then(response => {
          let data = response.data.posts;
          if (data.length) {
            this.page += 1;
            this.posts.push(...data);
            $state.loaded();
          } else {
            $state.complete();
          }
          history.pushState({}, null, response.data.url);
        });
    },
    getSuppliers() {
      axios
        .get("/api/chat/suppliers", {
          params: {}
        })
        .then(response => {
          this.suppliers = response.data.suppliers;
        });
    },
    deletePost(postId) {
      this.posts = _(this.posts).filter(item => {
        return item.id !== postId;
      });
      this.$toasted.success("Success", {
        theme: "toasted-primary",
        position: "bottom-right",
        duration: 5000
      });
    }
  },
  created() {
    this.getSuppliers();
  }
};
</script>
<style  scoped>
</style>
