<template>
  <div>
    <a class="d-block text-black-50" href="#" @click.prevent="toggle('up')">
      <i class="fa fa fa-arrow-up" :class="{'text-primary': votes.isVoted == 1}"></i>
    </a>
    <span class="d-block">{{ votes.total}}</span>
    <a class="d-block text-black-50" href="#" @click.prevent="toggle('down')">
      <i class="fa fa fa-arrow-down" :class="{'text-primary': votes.isVoted == -1}"></i>
    </a>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: {
    votes: {
      required: true,
      type: Object
    },
    post: {
      required: true
    }
  },
  data() {
    return {
      value: null,
      rate: null
    };
  },
  methods: {
    toggle(action) {
      switch (this.votes.isVoted) {
        case 1:
          if (action == "up") {
            this.value = 0;
            this.rate = -1;
          }
          if (action == "down") {
            this.value = -1;
            this.rate = -2;
          }
          break;
        case 0:
          if (action == "up") {
            this.value = 1;
            this.rate = 1;
          }
          if (action == "down") {
            this.value = -1;
            this.rate = -1;
          }
          break;
        case -1:
          if (action == "up") {
            this.value = 1;
            this.rate = 2;
          }
          if (action == "down") {
            this.value = 0;
            this.rate = 1;
          }
          break;
      }

      this.vote();
    },
    vote() {
      axios
        .post(`/api/chat/${this.post}/vote`, {
          value: this.value,
          rate: this.rate
        })
        .then(response => {
          this.votes.total += this.rate;
          this.votes.isVoted = this.value;
          console.log(response);
        });
    }
  }
};
</script>
<style  scoped></style>
