<template>
  <div class="row">
    <div class="text-center">
      <post-vote :post="post.id" :votes="post.votes"></post-vote>
    </div>
    <div class="col-11">
      <h6>
        <a :href="`/chat/${post.id}/comments`" class="post__title">{{post.title}}</a>
        <a class="post__title" :href="`/tenders/${post.tender.id}`">{{post.tender.title}}</a>
        <a class="post__title">{{post.supplier.name}}</a>
      </h6>
      <p>{{post.body}}</p>
      <p>
        <a :href="`/chat/${post.id}/comments`" class="mr-2 post__link">{{post.comments}} comments</a>
        Date
        <strong>
          {{post.tender.start}} -
          {{post.tender.end}}
        </strong>
        by
        <strong>{{post.user.name}}</strong>
        from
        <strong>{{post.date}}</strong>
      </p>
      <slot name="can-edit"></slot>
      <slot name="back"></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      required: true,
      type: Object
    }
  }
};
</script>
