<template>
  <div class="row posts posts__sm">
    <div class="col-lg-9">
      <a
        :href="'/chat/create'"
        class="btn btn-danger btn-block mb-2 d-lg-none d-md-block"
        data-toggle="modal"
        @click.prevent="addComment()"
      >Add Comment</a>
      <ul class="list-group mb-2 post">
        <li class="list-group-item">
          <post :post="thePost">
            <template v-slot:back>
              <a
                :href="`/chat?supplier=${post.supplier.id}`"
                class="post__link"
              >/chat/?supplier={{post.supplier.id}}</a>
            </template>
            <template v-slot:can-edit v-if="thePost.canEdit">
              <delete-post :postId="thePost.id" @deleted="deletePost($event)"></delete-post>
            </template>
          </post>
        </li>
        <li class="list-group-item" v-for="(comment, index) in comments" :key="index">
          <p>{{comment.body}}</p>
          <p>
            by
            <strong>{{comment.user.name}}</strong> from
            <strong>{{comment.date}}</strong>
          </p>
          <p v-if="comment.canEdit">
            <a href="#" class="post__link" @click.prevent="editComment(comment)">Edit</a> |
            <delete-comment
              :commentId="comment.id"
              :postId="post.id"
              @deleted="deleteComment($event)"
            ></delete-comment>
          </p>
        </li>
      </ul>
      <infinite-loading :identifier="identifier" @infinite="getComments"></infinite-loading>
    </div>
    <div class="col-lg-3 d-lg-block d-none">
      <a
        :href="'/chat/create'"
        class="btn btn-danger btn-block mb-2"
        data-toggle="modal"
        @click.prevent="addComment()"
      >Add Comment</a>
    </div>
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body p-5">
            <div class="form-group">
              <label for class="font-weight-bold">Comment</label>
              <textarea rows="5" v-model="comment.body" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary btn-block" :disabled="!isValid" @click="postComment">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import InfiniteLoading from "vue-infinite-loading";
import axios from "axios";
import _ from "underscore";

export default {
  props: {
    post: {
      required: true
    }
  },
  data() {
    return {
      comments: [],
      comment: {
        body: null
      },
      page: 1,
      thePost: this.post,
      identifier: +new Date()
    };
  },
  components: {
    InfiniteLoading
  },
  computed: {
    isValid: function() {
      return this.comment.body ? true : false;
    }
  },
  methods: {
    getComments($state) {
      axios
        .get(`/chat/${this.post.id}/comments`, {
          params: {
            page: this.page
          }
        })
        .then(response => {
          let data = response.data.comments;
          if (data.length) {
            this.page += 1;
            this.comments.push(...data);
            $state.loaded();
          } else {
            $state.complete();
          }
          history.pushState({}, null, response.data.url);
        });
    },
    addComment() {
      this.comment = {};
      $("#commentModal").modal("toggle");
    },
    editComment(comment) {
      this.comment = comment;
      $("#commentModal").modal("toggle");
    },
    deleteComment(commentId) {
      this.comments = _(this.comments).filter(item => {
        return item.id !== commentId;
      });
      this.$toasted.success("Success", {
        theme: "toasted-primary",
        position: "bottom-right",
        duration: 5000
      });
    },
    deletePost(postId) {
      window.location.href = "/chat";
      this.$toasted.success("Success", {
        theme: "toasted-primary",
        position: "bottom-right",
        duration: 5000
      });
    },
    postComment() {
      let request;
      if (this.comment.id) {
        request = axios.put(
          `/api/chat/${this.post.id}/comments/${this.comment.id}`,
          {
            body: this.comment.body
          }
        );
      } else {
        request = axios.post(`/api/chat/${this.post.id}/comments`, {
          body: this.comment.body
        });
      }
      request.then(response => {
        if (!this.comment.id) {
          let data = response.data.comment;
          this.comments.unshift(data);
        }
        $("#commentModal").modal("toggle");
        this.$toasted.success("Success", {
          theme: "toasted-primary",
          position: "bottom-right",
          duration: 5000
        });
      });
    }
  },
  created() {}
};
</script>
<style  scoped></style>
