<template>
  <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body p-5">
          <div class="form-group">
            <label for class="font-weight-bold">Supplier</label>
            <select
              name="supplier"
              @change="getTenders"
              class="selectpicker form-control"
              v-model="form.supplier"
            >
              <option
                v-for="option in suppliers"
                :key="option.supplier.id"
                :value="option.supplier.id"
                :disabled="option.supplier.disabled"
              >{{option.supplier.title}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for class="font-weight-bold">Tender</label>
            <select name="tender" class="selectpicker form-control" v-model="form.tender">
              <option
                v-for="tender in tenders"
                :key="tender.id"
                :value="tender.id"
                :disabled="tender.disabled"
              >{{tender.title}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for class="font-weight-bold">Title</label>
            <input type="text" name="title" class="form-control" v-model="form.title" />
          </div>
          <div class="form-group">
            <label for class="font-weight-bold">Description</label>
            <textarea class="form-control" name="body" cols="10" v-model="form.body"></textarea>
          </div>
          <button
            class="btn btn-primary btn-block"
            :disabled="!isValid || loading"
            @click="onSave"
          >Save</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";

export default {
  props: {
    post: {
      required: true
    }
  },
  data() {
    return {
      tenders: [],
      suppliers: [],
      loading: false
    };
  },
  computed: {
    isValid: function() {
      return this.form.supplier &&
        this.form.tender &&
        this.form.title &&
        this.form.body
        ? true
        : false;
    },
    form: function() {
      return this.post;
    }
  },
  methods: {
    getTenders() {
      axios
        .get(`/api/tenders`, {
          params: {
            status: this.form.status,
            supplier: this.form.supplier
          }
        })
        .then(response => {
          let data = [
            { id: null, title: "Select tender", disabled: true },
            ...response.data.tenders
          ];
          this.tenders = data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    getSuppliers() {
      axios
        .get(`/api/suppliers/`, {
          params: {
            status: this.form.status
          }
        })
        .then(response => {
          let data = [
            {
              supplier: { id: null, title: "Select supplier", disabled: true }
            },
            ...response.data.suppliers
          ];
          this.suppliers = data;
        })
        .catch(error => {
          console.log(error);
        });
    },
    onSave() {
      let request;
      this.loading = true;
      if (this.form.id) {
        request = axios.put(`/api/chat/${this.form.id}`, {
          csrf: document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content"),
          ...this.form
        });
      } else {
        request = axios.post("/api/chat", {
          csrf: document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute("content"),
          ...this.form
        });
      }

      request
        .then(response => {
          let event = this.post.id ? "updated" : "added";
          this.$emit(event, response.data.post);
          this.loading = false;
          this.$toasted.success("Success", {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });
        })
        .catch(error => {});
    }
  },
  created() {
    this.getSuppliers();
  }
};
</script>
<style  scoped></style>
