<template>
  <div>
    <socialite></socialite>
    <p class="or">
      <span class="text-muted">or</span>
    </p>
    <component v-bind:is="auth"></component>
    <p class="border-top pt-4">
      Already have an safetrade account?
      <a href="#" @click.prevent="$emit('action', 'Login')">Log in</a>
    </p>
  </div>
</template>


<script>
import Password from "../components/Auth/Password";
import Email from "../components/Auth/Email";
import Socialite from "../components/Auth/Socialite";

export default {
  data() {
    return {
      auth: "Email"
    };
  },
  components: {
    Password,
    Email,
    Socialite
  }
};
</script>
<style scoped>
.or {
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 0.1em;
}
.or span {
  background: #fff;
  padding: 0 10px;
}
</style>