<template>
  <div class="row">
    <div class="border col-lg-3 p-3 mb-4">
      <collapse id="status" title="Status">
        <select
          @change="onStatusChange"
          name="status"
          class="selectpicker form-control"
          v-model="form.status"
        >
          <option
            v-for="option in data.status"
            :disabled="option.disabled"
            :key="option.id"
            :value="option.id"
          >{{option.title}}</option>
        </select>
      </collapse>
      <collapse id="supplier" title="Supplier">
        <select
          @change="onSupplierChange"
          name="supplier"
          class="selectpicker form-control"
          v-model="form.supplier"
        >
          <option
            v-for="option in suppliers"
            :key="option.supplier.id"
            :value="option.supplier.id"
            :disabled="option.supplier.disabled"
          >{{option.supplier.title}}</option>
        </select>
      </collapse>
      <collapse id="tender" title="Tender">
        <select
          @change="onTenderChange"
          name="tender"
          class="selectpicker form-control"
          v-model="form.tender"
        >
          <option
            v-for="option in tenders"
            :key="option.id"
            :value="option.id"
            :disabled="option.disabled"
          >{{option.title}}</option>
        </select>
      </collapse>
      <collapse id="size" title="Size from/to">
        <div class="row">
          <div class="col">
            <input class="form-control" type="number" @change="search" v-model="form.size_from" />
          </div>
          <div class="col">
            <input class="form-control" type="number" @change="search" v-model="form.size_to" />
          </div>
        </div>
      </collapse>
      <collapse id="color-by-eye" title="Color by Eye">
        <select @change="search" class="form-control" v-model="form.color_by_eye">
          <option
            v-for="(color, index) in data.colors"
            :key="index"
            :value="color.id"
          >{{color.title}}</option>
        </select>
      </collapse>
      <collapse id="color-by-machine" title="Color by Machine">
        <select @change="search" class="form-control" v-model="form.color_by_machine">
          <option
            v-for="(color, index) in data.colors"
            :key="index"
            :value="color.id"
          >{{color.title}}</option>
        </select>
      </collapse>
      <collapse id="flourscene" title="Fluorescence">
        <select @change="search" class="form-control" v-model="form.flourscene">
          <option
            v-for="(flourscene, index) in data.flourscene"
            :key="index"
            :value="flourscene.id"
          >{{flourscene.title}}</option>
        </select>
      </collapse>
      <collapse id="valuation" title="Valuation from/to">
        <div class="row">
          <div class="col">
            <input
              type="number"
              class="form-control"
              @change="search"
              v-model="form.valuation_from"
            />
          </div>
          <div class="col">
            <input type="number" class="form-control" @change="search" v-model="form.valuation_to" />
          </div>
        </div>
      </collapse>
      <collapse id="country" title="Country">
        <select @change="search" class="form-control" v-model="form.country">
          <option v-for="item in countries" :key="item.code" :value="item.name">{{ item.name }}</option>
        </select>
      </collapse>
    </div>
    <div class="col-lg-9">
      <parcels ref="parcels" :url="'/api/search/'" :params="form" :history="true"></parcels>
    </div>
  </div>
</template>

<script>
import Collapse from "./Collapse";
import axios from "axios";
import countries from "../countries";

export default {
  props: ["data"],
  components: {
    Collapse
  },
  data() {
    return {
      form: this.data.request,
      suppliers: [],
      tenders: [],
      parcels: [],
      countries: countries
    };
  },
  methods: {
    search() {
      this.$refs.parcels.update();
    },
    onStatusChange() {
      this.suppliers = [];
      this.tenders = [];
      this.form.tender = null;
      this.form.supplier = null;
      this.getSuppliers().then(() => this.search());
    },
    onSupplierChange() {
      this.tenders = [];
      this.form.tender = null;
      this.getTenders().then(() => this.search());
    },
    onTenderChange() {
      this.search();
    },
    getSuppliers() {
      return axios
        .get(`/api/suppliers/`, {
          params: {
            status: this.form.status
          }
        })
        .then(response => {
          this.suppliers = response.data.suppliers;
        });
    },
    getTenders() {
      return axios
        .get(`/api/tenders`, {
          params: {
            status: this.form.status,
            supplier: this.form.supplier
          }
        })
        .then(response => {
          this.tenders = response.data.tenders;
        });
    }
  },
  mounted() {
    this.data.status = [
      { id: "closed", title: "Closed" },
      { id: "active", title: "Active" },
      { id: "upcoming", title: "Upcoming" }
    ];
    this.getSuppliers().then(() => this.getTenders());
  }
};
</script>

<style>
</style>