<template>
  <select name="status" class="selectpicker form-control" v-model="value">
    <option
      v-for="option in list"
      :key="option.id"
      :disabled="option.disabled"
      :value="option.id"
    >{{option.title}}</option>
  </select>
</template>

<script>
export default {
  props: ["list"],
  data() {
    return {
      value: null
    };
  }
};
</script>

<style>
</style>