<template>
  <div class="form-group">
    <label :for="id" :class="{'': required}" v-html="label"></label>
    <select
      class="form-control"
      :id="id"
      :name="id"
      :class="{'is-invalid': errors}"
      :required="required"
      v-model="value"
    >
      <option v-for="option in optionList" :key="option.id" :value="option.id">{{ option.title }}</option>
    </select>
    <span v-if="errors" role="alert" class="invalid-feedback">
      <strong>{{errors}}</strong>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    options: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: true
    },
    errors: {
      type: String,
      required: true
    },
    required: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  data() {
    return {
      optionList: JSON.parse(this.options)
    };
  }
};
</script>
