<template>
  <div class="form-check">
    <input
      type="checkbox"
      class="form-check-input"
      :checked="prefere"
      id="prefere"
      v-model="prefere"
      @change="onChange"
    />
    <label class="form-check-label" for="prefere">Use points as a first payment method.</label>
  </div>
</template>

<script>
export default {
  data() {
    return {
      prefere: false
    };
  },
  methods: {
    onChange() {
      Cookies.set("points_first_payment", this.prefere);
    }
  },
  created() {
    this.prefere = Cookies.get("points_first_payment") == "true" ? true : false;
  }
};
</script>

<style>
</style>