<template>
  <slick :options="options">
    <a v-for="(image, index) in images" :key="index" :href="image.url">
      <div class="slick__container lazyload" v-if="image.image" :data-bgset="image.image">
        <div class="slick__title">
          <p class>{{image.title}}</p>
        </div>
      </div>
      <div v-else class="slick__text" :style="color">{{image.title}}</div>
    </a>
  </slick>
</template>

<script>
import Slick from "vue-slick";
import { home } from "../slider";

export default {
  props: {
    images: {
      required: true
    },
    color: {
      required: false
    }
  },
  data() {
    return {
      options: home
    };
  },
  components: { Slick },
  methods: {}
};
</script>
<style  scoped>
.slick__container {
  position: relative;
  height: 240px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 5px;
}

.slick__title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
  bottom: 0;
}
.slick__text {
  height: 240px;
  text-align: center;
  margin: 0 5px;
  font-weight: bold;
  padding-top: 100px;
  font-size: 1.4em;
}
</style>
