<template>
  <div class="form-group row mb-0">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-block">{{ title }}</button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    }
  }
};
</script>
