<template>
  <div class="form-group">
    <label :for="id" v-html="label"></label>
    <textarea
      :id="id"
      type="text"
      class="form-control"
      :class="{'is-invalid': errors}"
      :name="id"
      :value="value"
      :required="required"
      rows="3"
    ></textarea>
    <span v-if="errors" role="alert" class="invalid-feedback">
      <strong>{{errors}}</strong>
    </span>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    },
    value: {
      type: String,
      required: true
    },
    errors: {
      type: String,
      required: true
    },
    required: {
      type: Boolean,
      required: false,
      default: true
    }
  }
};
</script>
