<template>
  <div class="mt-4">
    <slick ref="slick" :options="options">
      <img
        v-for="(image, index) in images"
        :src="image.url"
        alt
        :key="index"
        class="mt-3 w-100 parcel__image--fit"
      />
    </slick>
  </div>
</template>

<script>
import Slick from "vue-slick";

export default {
  props: ["images", "options"],
  components: {
    Slick
  }
};
</script>

<style>
</style>