<template></template>
<script>
export default {
  props: {
    status: {
      type: String,
      required: false
    }
  },
  created() {
    if (this.status) {
      let status = JSON.parse(this.status);
      this.$toasted.info(status.text, {
        theme: "toasted-primary",
        className: "bg-info",
        position: "bottom-right",
        duration: 5000
      });
    }
  }
};
</script>
