<template>
  <div url="url"></div>
</template>

<script>
import Uppy from "@uppy/core";
import Webcam from "@uppy/webcam";
import Dashboard from "@uppy/dashboard";
import XHRUpload from "@uppy/xhr-upload";
export default {
  props: ["url", "trigger", "title", "restrictions"],
  methods: {},
  data() {
    return {
      options: {
        autoProceed: false,
        allowMultipleUploads: true,
        debug: false,
        restrictions: this.restrictions
      }
    };
  },
  mounted() {
    const uppy = Uppy(this.options);
    uppy.use(Webcam);
    uppy
      .use(Dashboard, {
        inline: false,
        trigger: this.trigger,
        target: "body",
        proudlyDisplayPoweredByUppy: false,
        note: this.title,
        plugins: ["Webcam"]
      })
      .on("dashboard:modal-closed", () => {
        // location.reload();
      })
      .use(XHRUpload, {
        endpoint: this.url
      });
    uppy.run();
  }
};
</script>

<style lang="sass">
    @import "~@uppy/core/src/style.scss"
    @import "~@uppy/dashboard/src/style.scss"
    @import "~@uppy/webcam/src/style.scss"
</style>