<template>
  <div>
    <button @click="toggleLike" class="btn btn-sm" :class="{'text-primary': value == 1}">
      <i class="fas fa-thumbs-up"></i>
      {{up}}
    </button>
    <button @click="toggleUnLike" class="btn btn-sm" :class="{'text-primary': value == -1}">
      <i class="fas fa-thumbs-down"></i>
      {{down}}
    </button>
  </div>
</template>

<script>
import axios from "axios";

export default {
  props: ["init", "parcel", "type"],
  data() {
    return {
      up: 0,
      down: 0,
      value: 0
    };
  },
  created() {
    let data = this.init;
    this.value = data.value;
    this.up = data.up;
    this.down = data.down;
  },
  methods: {
    toggleLike() {
      this.value = this.value == 0 || this.value == -1 ? 1 : 0;
      this.post();
    },
    toggleUnLike() {
      this.value = this.value == 0 || this.value == 1 ? -1 : 0;
      this.post();
    },
    post() {
      axios
        .post(`/api/parcels/${this.parcel}/vote`, {
          type: this.type,
          value: this.value
        })
        .then(response => {
          this.up = response.data.up;
          this.down = response.data.down;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>