<template>
  <button class="btn" :class="{'wishlist--in' : isActive, 'wishlist--out': !isActive}" @click="add"></button>
</template>

<script>
import axios from "axios";

export default {
  props: {
    thread: {
      required: true,
      type: String
    },
    in: {
      required: false,
      type: Boolean,
      value: false
    }
  },
  data() {
    return {
      isActive: this.in
    };
  },
  methods: {
    add() {
      this.isActive = !this.isActive;
      axios
        .post(`/api/my/wishlist/${this.thread}`, {
          in_wishlist: this.isActive
        })
        .then(response => {
          this.$toasted.success("Success", {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });
        })
        .catch(error => {
          this.$toasted.error("Error", {
            theme: "toasted-primary",
            position: "bottom-right",
            duration: 5000
          });
        });
    }
  }
};
</script>